/* .gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
} */

/* .gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
} */