
* {
    box-sizing: border-box;
}

body {
    
    background-color:  whitesmoke;
    color: #212121;
    line-height: 1.5;
    margin: 0;
}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




.general-photo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.gallery-img-link {
    max-width: 200px;

}


.gallery-image {
    width: 190px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transition: transform 0.5s ease;
    transform: scale(1.15);
}




.search-btn {
    margin: 0;
        padding: 0;
        border: none;
        border-radius: 0 5px 5px 0;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
}


.search-input {
    
            width: 220px;
            height: 32px;
            border: none;
            border-radius: 5px 0 0 5px;
            padding: 8px;
            outline: none;
        
}


 .searching-box {
      
     background-color: royalblue;
     
 }

.img-general-info-container {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
     color: #444;
    text-align: center;
    padding: 10px;
     
}

.every-img-info-box-title-number-inside {

    max-width: 50px;
    text-align: center;
    line-height: 0.2em;
    font-size: 0.7em;
    margin: 2px;
}

.load-more {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 200px;
        min-height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: white;
        background-color: royalblue;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
}


p {
    margin: 0;
    padding: 0;
}


 .info-item {
    
 }