.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




.general-photo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}







.gallery-img-link {
    max-width: 200px;

}


.gallery-image {
    width: 190px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transition: transform 0.5s ease;
    transform: scale(1.15);
}




.img-general-info-container {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    color: #444;
    margin: 10px;
}

.every-img-info-box-title-number-inside {

    max-width: 50px;
    text-align: center;
    line-height: 0.2em;
    font-size: 0.7em;
    margin: 2px;
}

.load-more {
    margin: 0 auto;
    display: block;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
}