:root {
    --max-width: 250px;
}

* {
    box-sizing: border-box;
}

body {
    
    background-color:  whitesmoke;
    color: #212121;
    line-height: 1.5;
    margin: 0;
}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}




.general-photo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--max-width);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.gallery-img-link {
    max-width: 100%;
}


.gallery-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}




.search-btn {
    margin: 0;
        padding: 0;
        border: none;
        border-radius: 0 5px 5px 0;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
}


.search-input {
    
            width: 220px;
            height: 32px;
            border: none;
            border-radius: 5px 0 0 5px;
            padding: 8px;
            outline: none;
        
}


 .searching-box {
      
     background-color: royalblue;
    margin-bottom: 40px;
     
 }

.img-general-info-container {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
     color: #444;
    text-align: center;
    padding: 12px;
     
}

.every-img-info-box-title-number-inside {

    max-width: 50px;
    text-align: center;
    line-height: 0.2em;
    font-size: 0.7em;
    margin: 2px;
}

.load-more {
        margin: 24px auto 24px auto;
        padding: 16px 36px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: white;
        background-color: royalblue;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
}


p {
    margin: 0;
    padding: 0;
 }



 /* Стили кнопки скролл вверх */

.scrollUpBtn {
    position: fixed;
    z-index: 100;
    opacity: 0;
    bottom: 150px;
    right: 20px;
    fill: #3498db;
    transform: translateY(100px); 
    transition: all 0.3s ease-in-out;   
    cursor: pointer;

}
 
   .scrollUpBtn:hover,
   .scrollUpBtn:focus {
    fill: #5a32a8;
        transform: translateY(-20px);
   }
                         

 .showBtn {
     opacity: 0.8;
     transform: translateY(0);
 }


  /* Стили для лоадера */



  .backdrop-spinner {
      position: fixed;
      z-index: 999;
      left: 50%;
        top: 50%;
        /* Выводим в центре */
        transform: translate(-50%, -50%);
      
  }

  .loader {
      transform: rotateZ(45deg);
      perspective: 1000px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      color: #fff;
  }

  .loader:before,
  .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
  }

  .loader:after {
      color: #3498db;
      transform: rotateY(70deg);
      animation-delay: .4s;
  }

  @keyframes rotate {
      0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
      }

      100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
      }
  }

  @keyframes rotateccw {
      0% {
          transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
          transform: translate(-50%, -50%) rotate(-360deg);
      }
  }

  @keyframes spin {

      0%,
      100% {
          box-shadow: .2em 0px 0 0px currentcolor;
      }

      12% {
          box-shadow: .2em .2em 0 0 currentcolor;
      }

      25% {
          box-shadow: 0 .2em 0 0px currentcolor;
      }

      37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
      }

      50% {
          box-shadow: -.2em 0 0 0 currentcolor;
      }

      62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
      }

      75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
      }

      87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
      }
  }

  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }

  